
html, body {
  max-width: 100%;
  overflow-x: hidden;
}


.vina-sans-regular {
  font-family: "Vina Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.page1{
  background-color: $black-color;
  font-size: 16px;
  font-family: "Rajdhani", sans-serif;
  margin: 0em;
  overflow-x: hidden;
  
}

.avort--titre{
  font-family: "Vina Sans", sans-serif;
  margin: 0em;
  line-height: 90%;
  color: $black-color;
}

.titre1{
  font-size: 143px;
  text-align: center;
}

.titre2{
  font-size: 119px;
  text-align: center;
}

.formulaire{
  background-color: rgba(13, 13, 13, 0.6);
  border: 3px solid $primary-color;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  margin: 3px 2em;
}

.info {
  position: relative;
  width: 100%;
}

.infobox{
  background-color: $primary-color;
  border: none;
  padding: 1em 15vw;
  font-size: 16px;
  font-family: "Rajdhani", sans-serif;
  width: 100%;        // prend toute la largeur disponible...
  box-sizing: border-box; 
  outline: none;
  margin-bottom: 19px;
}

.infoLabel {
  pointer-events: auto;
  position: absolute;
  top: 12px;
  left: 19px;
  font-size: 16px;
  color: $black-color;
  z-index: 2;
  transition: all 0.2s ease;

  &::after {
    content: attr(data-alt); 
    display: none;
    position: absolute;       
    top: 0;
    left: 0;   
  }

  &:hover {
    color: transparent; 

    &::after {
      display: inline;
      color: black; 
    }
  }
}

.envoi{
  font-family: "Rajdhani", sans-serif;
  color: white;
  background-color: $secondary-color;
  border: none;
  padding: 1em 3em ;

}
.btn--envoyer,
.btn--suivent,
.btn--confirmer{
  margin-top: 8vh;
}

.bg{

  position: absolute;
  top:0;
  font-size: 11px;
  text-align: justify;
  text-justify: inter-word;
  color: $primary-color;
  width: 100%;//pour qu il prene toute la taille de l ecrant
  z-index: -1;//pour le faire passer deriere
  pointer-events: none;//pour pas quon sache les selectioner et qu il emerde tout le monde
  max-height: 100vh;
  overflow-y: hidden;

}
 .bg--popup{
  background-color: $with-color;
 } 

.age{
  background-color: $primary-color;
  font-size: 160px;
  border: none;
 // width: 2em;
//  height: 3em;
  text-align: center;
 // padding-top: 1em;
 margin: 0%;
  
}

.nombre{
  display: flex;
  flex-direction: row;
  gap: 11px;
  justify-content: flex-end; 
}


//navigation



//barre de recherche

.search-input input{
  font-family: "Rajdhani", sans-serif;
  height: 55px;
  width: 18em;
  outline: none;
  border: none;
  padding: 0 19px 0 19px; 
  font-size: 16px;
  background-color: $green-color;
  color: $black-color;
  &::placeholder{
    color: $black-color;
  }
}

.search-input{
  display: flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
min-height: 100vh;
}

.search-input.active input{
  width: 18em;

}

.search-input .autocom-box{
  background: $black-color; 
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 247px;
  width: 18em;
  overflow-y: auto;
  color: $with-color;
}

.search-input.active .autocom-box{
  padding: 11px 19px;
  opacity: 1;
  pointer-events: auto;
}


.autocom-box li{
  list-style: none;
  padding: 11px 0px;
  display: none;
  width: 100%;
  cursor: default;
}

.search-input.active .autocom-box li{
  display: block;
}
/*.autocom-box li:hover{
  background: $green-color;
}*/

/*.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: $with-color;
  cursor: pointer;
}*/





.section--message {
  display: flex;
  height: 100vh; 
  background-color: $with-color;
  padding: 2rem;
}



.fond--popup {
  position: relative;
  padding: 2em;
  align-items: center;

  z-index: 0; 
  pointer-events: none;
  margin-bottom: -3rem;

  .titre--popup {
    font-family: "Vina Sans", sans-serif;
    font-size: 119px;
    line-height: 1;
    color: $primary-color;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
  }
}

.contenu--popup {
  background-color: rgba($with-color, 0.5);

  position: relative;
  z-index: 2; // au-dessus du fond
  padding: 2em;
  color: $black-color;
  h2, p {
    margin: 1em 0;
  }
}



//tablette
@media (min-width: 750px) {
  .page1{
    font-size: 18px;
    margin: 0em;
  }
  
  .titre1{
    font-size: 327px;
  }
  
  .titre2{
    font-size: 231px;
  }
  

.formulaire {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;
}

.formulaire > .ligne-haut {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2em;
  flex-wrap: nowrap;
}

.info {
  flex: 1; /* Prend toute la place disponible */
  min-width: 0; /* Évite les débordements */

}


.infobox{
  border: none;
  padding: 1em 20vw;
  font-size: 18px;
  width: 100%;        // prend toute la largeur disponible...
  box-sizing: border-box; 
  margin-bottom: 0px;
}

// Groupe des inputs : à gauche
.groupeAligner {
  display: flex;
  flex-direction: column;
  gap: 1em;

  //flex: 0 1 auto;
  min-width: 40%;  
}

// Section âge : à droite
.nombre {
  display: flex;
  align-items: flex-end; // pour mettre à droite
  justify-content: center;
//  flex: 1;
  min-width: 200px;

}

// Les chiffres

// Bouton confirmer centré en bas
.button--confirmer {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}


.section--message {
  padding: 2em;
}



.fond--popup {
  .titre--popup {
    font-size: 134px;
  }
}

.contenu--popup {
  margin-left: 119px;
  margin-right: 119px;
  border: 3px solid $primary-color;
  padding: 2em;
  h2, p {
    margin: 1em 0;
  }
}



  .bg{
    font-size: 15px;
  }
}
//ordi

@media (min-width: 1000px){
  .page1{
    font-size: 22px;
    margin: 0em;
  }
  
  .titre1{
    font-size: 407px;
  }
  
  .titre2{
    font-size: 196px;
  }

  .avort--container{
    display: flex;
    flex-direction: row;
   // height: 100vh;
  }

  .formulaire{
    background-color: rgba(13, 13, 13, 0.6);
    border: 3px solid $primary-color;
    padding: 1.2em;
    display: block;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    margin: 3px 0px 0px 1.7em;

  }
  .avort--titre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .infobox{
    border: none;
    padding: 1em 70%;
    font-size: 18px;
    width: 100%;        // prend toute la largeur disponible...
    box-sizing: border-box; 
    margin-bottom: 0px;
  }
  
  // Groupe des inputs : à gauche
  .groupeAligner {
    display: flex;
    flex-direction: column;
    gap: 1em;
  
    //flex: 0 1 auto;
    min-width: 40%;  
  }
  
  .envoi{
margin-top: 22px;
  }
  .envoi:hover {
    cursor: pointer;
    opacity: 0.7;
    color: $secondary-color;
    background-color: $black-color;
    border: 3px solid $secondary-color;
    padding: 1em 3em ;
    
  }
  .section--message {
    padding: 0em;
  }
  
  
  
  .fond--popup {
    padding: 1em;
    .titre--popup {
      font-size: 163px;
      margin: 136px 0px 22px;

    }
  }
  
  .contenu--popup {
    margin-left: 163px;
    margin-right: 163px;
    border: 3px solid $primary-color;
    padding: 1em;
    h2, p {
      margin: 1.2em 0;
    }
  }
  
  .btn--envoyer,
.btn--suivent{
  margin-top: 0;
}

.calendrier--centre {
  display: flex;
  align-items: flex-start; // aligne en haut
  gap: 10px; // espace entre calendrier et bloc texte+bouton
  margin-left: 1.7em;
}

.calendrier--centre > :not(.calendari) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto; // pousse tout ce bloc à droite
  margin-right: 1.7em;
  align-items: flex-start; // aligne le texte à gauche dans ce bloc
}

.phrase--periode,
.btn--suivent {
  display: block;
  margin-left: 1.7em; // pas besoin de margin-left auto ici
}






// pour que texte au-dessus et bouton en dessous sur la droite 
.phrase--periode {
  margin-top: 100px;
  margin-bottom: 1px;
}



    .bg{
      font-size: 15px;
    }

}