
html, body {
  max-width: 100%;
  overflow-x: hidden;
}


.vina-sans-regular {
  font-family: "Vina Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.page1{
  background-color: $black-color;
  font-size: 16px;
  font-family: "Rajdhani", sans-serif;
  margin: 0em;
  overflow-x: hidden;
  
}

.avort--titre{
  font-family: "Vina Sans", sans-serif;
  margin: 0em;
  line-height: 90%;
  color: $black-color;
}

.titre1{
  font-size: 143px;
  text-align: center;
}

.titre2{
  font-size: 119px;
  text-align: center;
}

.formulaire{
  background-color: rgba(13, 13, 13, 0.6);
  border: 3px solid $primary-color;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  margin: 3px 2em;
}

.info {
  position: relative;
  width: 100%;
}

.infobox{
  background-color: $primary-color;
  border: none;
  padding: 1em 15vw;
  font-size: 16px;
  font-family: "Rajdhani", sans-serif;
  width: 100%;        // prend toute la largeur disponible...
  box-sizing: border-box; 
  outline: none;
}

.infoLabel {
  pointer-events: auto;
  position: absolute;
  top: 12px;
  left: 19px;
  font-size: 16px;
  color: $black-color;
  z-index: 2;
  transition: all 0.2s ease;

  &::after {
    content: attr(data-alt); 
    display: none;
    position: absolute;       
    top: 0;
    left: 0;   
  }

  &:hover {
    color: transparent; 

    &::after {
      display: inline;
      color: black; 
    }
  }
}

.envoi{
  font-family: "Rajdhani", sans-serif;
  color: white;
  background-color: $secondary-color;
  border: none;
  padding: 1em 3em ;

}
.btn--envoyer,
.btn--suivent,
.btn--confirmer{
  margin-top: 205px;
}

.bg{

  position: absolute;
  top:0;
  font-size: 11px;
  text-align: justify;
  text-justify: inter-word;
  color: $primary-color;
  width: 100%;//pour qu il prene toute la taille de l ecrant
  z-index: -1;//pour le faire passer deriere
  pointer-events: none;//pour pas quon sache les selectioner et qu il emerde tout le monde
  max-height: 100vh;
  overflow-y: hidden;

}
 .bg--popup{
  background-color: $with-color;
 } 

.age{
  background-color: $primary-color;
  font-size: 160px;
  border: none;
 // width: 2em;
//  height: 3em;
  text-align: center;
 // padding-top: 1em;
 margin: 0%;
  
}

.nombre{
  display: flex;
  flex-direction: row;
  gap: 11px;
}


//navigation



//barre de recherche

.search-input input{
  font-family: "Rajdhani", sans-serif;
  height: 55px;
  width: 18em;
  outline: none;
  border: none;
  padding: 0 19px 0 19px; 
  font-size: 16px;
  background-color: $green-color;
  color: $black-color;
  &::placeholder{
    color: $black-color;
  }
}

.search-input{
  display: flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
min-height: 100vh;
}

.search-input.active input{
  width: 18em;

}

.search-input .autocom-box{
  background: $black-color; 
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 247px;
  width: 18em;
  overflow-y: auto;
  color: $with-color;
}

.search-input.active .autocom-box{
  padding: 11px 19px;
  opacity: 1;
  pointer-events: auto;
}


.autocom-box li{
  list-style: none;
  padding: 11px 0px;
  display: none;
  width: 100%;
  cursor: default;
}

.search-input.active .autocom-box li{
  display: block;
}
/*.autocom-box li:hover{
  background: $green-color;
}*/

/*.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: $with-color;
  cursor: pointer;
}*/





.section--message {
  display: flex;
  height: 100vh; 
  background-color: $with-color;
  padding: 2rem;
}



.fond--popup {
  position: relative;
  padding: 2em;
  align-items: center;

  z-index: 0; 
  pointer-events: none;
  margin-bottom: -3rem;

  .titre--popup {
    font-family: "Vina Sans", sans-serif;
    font-size: 119px;
    line-height: 1;
    color: $primary-color;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
  }
}

.contenu--popup {
  background-color: rgba($with-color, 0.5);

  position: relative;
  z-index: 2; // au-dessus du fond
  padding: 2rem;
  color: $black-color;
  h2, p {
    margin: 1rem 0;
  }
}
