
html, body {
  max-width: 100%;
  overflow-x: hidden;
}


.vina-sans-regular {
  font-family: "Vina Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.page1{
  background-color: $black-color;
  font-size: 16px;
  font-family: "Rajdhani", sans-serif;
  margin: 0em;
  overflow-x: hidden;
  
}

.avort--titre{
  font-family: "Vina Sans", sans-serif;
  margin: 0em;
  line-height: 90%;
  color: $black-color;
}

.titre1{
  font-size: 143px;
  text-align: center;
}

.titre2{
  font-size: 119px;
  text-align: center;
}

.formulaire{
  background-color: rgba(13, 13, 13, 0.6);
  border: 3px solid $primary-color;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  margin: 3px 2em;
}

.info {
  position: relative;
  width: 100%;
}

.infobox{
  background-color: $primary-color;
  border: none;
  padding: 1em 15vw;
  font-size: 16px;
  font-family: "Rajdhani", sans-serif;
  width: 100%;        // prend toute la largeur disponible...
  box-sizing: border-box; 
  outline: none;
}

.infoLabel {
  pointer-events: auto;
  position: absolute;
  top: 12px;
  left: 19px;
  font-size: 16px;
  color: $black-color;
  z-index: 2;
  transition: all 0.2s ease;

  &::after {
    content: attr(data-alt); 
    display: none;
    position: absolute;       
    top: 0;
    left: 0;   
  }

  &:hover {
    color: transparent; 

    &::after {
      display: inline;
      color: black; 
    }
  }
}

.envoi{
  font-family: "Rajdhani", sans-serif;
  color: white;
  background-color: $secondary-color;
  border: none;
  padding: 1em 3em ;

}
.btn--envoyer,
.btn--suivent{
  margin-top: 205px;
}

.bg{

  position: absolute;
  top:0;
  font-size: 11px;
  text-align: justify;
  text-justify: inter-word;
  color: $primary-color;
  width: 100%;//pour qu il prene toute la taille de l ecrant
  z-index: -1;//pour le faire passer deriere
  pointer-events: none;//pour pas quon sache les selectioner et qu il emerde tout le monde
  max-height: 100vh;
  overflow-y: hidden;
  
}


.age{
  background-color: $primary-color;
  font-size: 160px;
  border: none;
 // width: 2em;
//  height: 3em;
  text-align: center;
 // padding-top: 1em;
 margin: 0%;
  
}

.nombre{
  display: flex;
  flex-direction: row;
  gap: 11px;
}


//navigation


.nav {
  position: absolute;
  z-index:100;  
  opacity:0;
  transition-property: all;
  transition-duration: 300ms;
}

.nav--active .nav {
  opacity:0.7;
  background-color: $black-color;
}

.nav__list {
  padding: 0px;
}

.nav__item {
  opacity: 1;
  list-style-type: none;
  text-align: left;
  margin-top: 40px;
  margin-left: 28px;
}

.nav__link {
  font-size: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: $with-color;
  opacity:1;
  transition: opacity 300ms ease-in-out;
}

/* Default navigation icon */
.nav__trigger {
  display:block;
  position:absolute;
  width:30px;
  height:25px;
  right:10px;
  top:10px;
  z-index:200; 
}



.nav__icon {
  display:inline-block;
  position: relative;
  width:28px;
  height:2px;
  background-color: $with-color;
  transition-property: background-color, transform;
  transition-duration: 300ms;

  &:before,
  &:after {
    content:'';
    display:block;
    width:28px;
    height:2px;
    position: absolute;
    background: $secondary-color;
    transition-property: margin, transform;
    transition-duration: 300ms;
    
  }

  &:before {
    margin-top:-10px;
  
  }

  &:after {
    margin-top:10px;
  }
}


.style-3 {

  .nav {
    width:70%;
    height:100%;
    transform: translateX(-400px); 
    overflow: hidden;   
  }

  .nav--active .nav {
    transform: translateX(45%);  
  }

  .iphone__content {
    transform: scale(1) translateX(0);
    transition: all 300ms ease-in-out;
  }

  .iphone__screen {
    background-color: #333;
  }

  .nav--active .iphone__content {
      transform: scale(0.9) translateX(-90%);
  }

  .nav__icon {
    background: rgba(0,0,0,0.0);
 
    &:before {
      margin-top:0;
      transform:rotate(90deg);
    }

    &:after {
      margin-top:0;
      transform:rotate(180deg);
    }
  }

  .nav--active .nav__icon {
    transform:rotate(135deg);
  }

}


#section--menstruation,
#section--menstruation2,
#section--rendezvous1,
#section--lieu{
  display: none;
}


//barre de recherche

.search-input input{
  font-family: "Rajdhani", sans-serif;
  height: 55px;
  width: 18em;
  outline: none;
  border: none;
  padding: 0 19px 0 19px; 
  font-size: 16px;
  background-color: $green-color;
  color: $black-color;
  &::placeholder{
    color: $black-color;
  }
}

.search-input{
  display: flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
min-height: 100vh;
}

.search-input.active input{
  width: 18em;

}

.search-input .autocom-box{
  background: $black-color; 
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 247px;
  width: 18em;
  overflow-y: auto;
  color: $with-color;
}

.search-input.active .autocom-box{
  padding: 11px 19px;
  opacity: 1;
  pointer-events: auto;
}


.autocom-box li{
  list-style: none;
  padding: 11px 0px;
  display: none;
  width: 100%;
  cursor: default;
}

.search-input.active .autocom-box li{
  display: block;
}
/*.autocom-box li:hover{
  background: $green-color;
}*/

/*.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: $with-color;
  cursor: pointer;
}*/



.fond--popup{
  opacity: 0.5;
  font-family: "Vina Sans", sans-serif;
  font-weight: 400;
  font-size: 143px;
  line-height: 90%;
  color: $with-color;
  background-color: $secondary-color;
  width: 355px;
  height: 428px;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}