$c-bg: #efefef;
$c-alt: #e41612;
$c-text: #444;

$size-text: 18px;


$with-color:#f4efef;
$primary-color: #1EE870;
$green-color:#729D73;
$secondary-color: #F50D11;
$black-color: #0c0505;

$font-title: "Armata", sans-serif;
$font-title2-h1: "Pattaya", serif;

$pastelBleu-color: #ABE4DF;
$pastelRose-color: #E0B4E0;
$pastelYellow-color:#F2EEC4;