
.pattaya-regular {
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .baloo-thambi-2{
    font-family: "Baloo Thambi 2", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

.page2 {
    font-size: 16px;
   // font-family: "Pattaya", sans-serif;
    color:#40160C;
    margin: 0px;
    overflow-x: hidden;
}


.contracep--titre{
    font-family: $font-title2-h1;
    font-size: 48px;
   
}
.contenu-aligne{
    background: #F2EEC4;
    padding: 19px 0;             /* plus de padding horizontal ici */
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}

.grand--titre{
    padding: 0 5vw;              /* ou 20px ou la même largeur que tes colonnes de grille */
    max-width: 100%; 
}

.sousTitre{
    font-size: 33px;
    background-color: none;
}

.nav__traitements .nav__item {
    margin-top: 0px;
    margin-left: 0px;
  
}

.nav__traitements .nav__link{
    font-size: 19px;
    color: #40160C;
    font-family: "Baloo Thambi 2", system-ui;
    text-transform: none;
    font-weight: 600;
}


.rayures {

    width: 100%;
    background-color: #ffffff;
    background-image: linear-gradient(90deg, transparent 50%, #F4D9F4 50%);
    background-size: 40px;
    background-repeat: repeat;
    padding-bottom: 48px;
}


//gird

.grid{
    display: grid;
    grid-template-columns: 10vw 50vw 1fr; 
    gap: 20px;
    margin: 0px 1em 0px 1em;
 }

 .grid > *{
    grid-column: 1 / -1;
 }

 .grid--mid{
    grid-column-start: 2;
 }

 .parag--intro{
    background-color: #ffffff;
    border:3px solid $pastelYellow-color;
    padding: 23px;
    border-radius: 1em;
 }

 .nav__traitements{
    background-color: $pastelBleu-color;
    padding: 23px;
    border-radius: 1em;
    border:3px solid $pastelRose-color;

    .navTitre{
        margin: 0;
    }
 }
 .navTitre{
    font-size: 33px;
 }
.fond{
    padding: 23px;
    border-radius: 1em;  
    height: auto;        
    align-self: start;     
    justify-self: stretch;  
}

 .vasectomie{
    .fond{
        background: $pastelRose-color;
    }
 }
 .thermique{
    .fond{
        background: $pastelYellow-color;
    }
 }

 .gel{
    .fond{
        background: $pastelRose-color;
    }
 }

 .préservatif{
    .fond{
        background: $pastelBleu-color;
    }
 }

 .injection{
    .fond{
        background-color: $pastelYellow-color;
    }
 }
 .pilule{
    .fond{
        background-color: $pastelBleu-color;
    }
 }

 .patch{
    .fond{
        background-color: $pastelRose-color;
 
    }
 }

 .thermique .warning{
    background: #40160C;
    color: $pastelRose-color;

 }

 .injection .warning{
    background: #40160C;
    color: $pastelYellow-color;

 }

 .footer__contrasep{
    border-top: 13px solid $pastelBleu-color;
 }

 .image--preservatif,
 .image--patch{
   margin-bottom: 33px;
 }



//tablette

@media (min-width: 700px) {
   .page2 {
      font-size: 18px;
  }
  

  .contracep--titre{
      font-size: 45px;
      margin-top: 54px;
      margin-bottom: 45px;
  }
  .sousTitre{
      font-size: 37px;
      margin-top: 37px;
      margin-bottom: 26px;
  }

  .navTitre{
      font-size: 31px;
   }   
   .nav__traitements .nav__list{
      display: flex;
      flex-direction: column; // pour les empiler verticalement
      align-items: flex-start; // ou center si tu veux centrer les boutons
      gap: 26px; 
   }
   .nav__traitements .nav__item {
      margin: 0;
      width: 98%;

  }
   .nav__traitements .nav__link{
      display: block;
      font-size: 22px;
      background-color: $pastelYellow-color ;
      color: #40160C;
      box-shadow: 10px 5px 5px #40160C;
      border-radius: 10px;
      padding: 10px;
      transition: all 0.2s ease;

  }

  
 // grid
  .grid{
      display: grid;
      grid-template-columns: 1fr 111px  111px 180px  1fr; 
      gap: 18px;
      margin: 0px 5.17em 0px 5.17em;
   }

   .grid--mid{
      grid-column-start: 3;
   }
   .grid--intro{
      grid-column: 1 / -1;
   }
   .grid--navleft{
      grid-column: 1 / -3;        
   }
   .grid--navright{
      grid-column: 4 / -1;        
   }
   .image{
      grid-column: 1 / -3;
   }

   .image--preservatif,
   .image--patch{
     margin-bottom: 37px;
   }
}


 //ordi
 @media (min-width: 1000px){
    .page2 {
        font-size: 22px;
    }
    

    .contracep--titre{
        font-size: 55px;
    }
    .sousTitre{
        font-size: 32px;
    }

    .nav__traitements{
        padding: 46px;
     }
    .navTitre{
        font-size: 32px;
     }   

     .nav__traitements .nav__item {
        margin-top: 11px;
        margin-left: 0px;
  
    }
     .nav__traitements .nav__link{
        font-size: 22px;
    }


    .ordifond{ 
      height: auto;        
      align-self: start;     
      justify-self: stretch;  
  }
.injection,
.gel{
   grid-template-areas: 
   "h2 h2 ."
   "pG1 pG1 pG2"
   "pG1 pG1 pG3";
}
.grid--placmentgel1{
   grid-area: pG1;
}
.grid--placmentgel2{
   grid-area: pG2;
   margin-bottom: 0;
}
.grid--placmentgel3{
   grid-area: pG3;
   margin:0;
}
    //image
    .patch,
    .thermique {

        grid-template-areas:
          "h2 h2 ."
          "p1 p1 img"
          "p2 p2 img"
          "p3 p3 img";

      }

    
    .grid--placmentimg1{
      grid-area: p1;
    }
    .grid--placmentimg2{
      grid-area: p2;
    }
    .grid--placmentimg3{
      grid-area: p3;
    }
    .grid--placmentimg1Sous{
      grid-area: h2;
    }

    .image--patch,
    .image--boxer{
      grid-area: img;
      width: 100%;
      height: auto;
      object-fit: cover;
      align-self: start;
    }
    


   // grid
    .grid{
        display: grid;
        grid-template-columns: 7vw 1.5fr 180px 1fr 6VW; 
        gap: 20px;
        margin: 0px 5em 0px 5em;
     }

     .grid--mid{
        grid-column-start: 2;
     }
     .grid--intro{
        grid-column: 2 / -2;
     }
     .grid--navleft{
        grid-column: 2 / -4;        
     }
     .grid--navright{
        grid-column: 3 / -2;        
     }
     
     .grid--left{
        grid-column-end: -4;   
     }
     .grid--rightordi,
     .grid--right{
        grid-column: 3 / -1; 
     }

     .image--preservatif,
     .image--patch{
       margin-bottom: 55px;
     }
 }