.nav {
  position: absolute;
  z-index:100;  
  opacity:0;
  transition-property: all;
  transition-duration: 300ms;
}

.iphone.nav--active .nav {
  opacity:0.7;
  background-color: $black-color;
}

.nav__list {
  padding: 0px;
}

.nav__item {
  opacity: 1;
  list-style-type: none;
  text-align: left;
  margin-top: 40px;
  margin-left: 28px;
}

.nav__link {
  font-size: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: $with-color;
  opacity:1;
  transition: opacity 300ms ease-in-out;
}

/* Default navigation icon */
.nav__trigger {
  display:block;
  position:absolute;
  width:30px;
  height:25px;
  right:10px;
  top:10px;
  z-index:200; 
}



.nav__icon {
  display:inline-block;
  position: relative;
  width:28px;
  height:2px;
  background-color: $with-color;
  transition-property: background-color, transform;
  transition-duration: 300ms;

  &:before,
  &:after {
    content:'';
    display:block;
    width:28px;
    height:2px;
    position: absolute;
    background: $secondary-color;
    transition-property: margin, transform;
    transition-duration: 300ms;
    
  }

  &:before {
    margin-top:-10px;
  
  }

  &:after {
    margin-top:10px;
  }
}

.iphone.style-3.nav--active .nav {
    transform: translateX(45%);  
}
.iphone.style-3.nav--active .iphone__content {
      transform: scale(0.9) translateX(-90%);
}

.iphone.style-3.nav--active .nav__icon {
    transform:rotate(135deg);
}

.style-3 {

  .nav {
    width:70%;
    height:100%;
    transform: translateX(-400px); 
    overflow: hidden;   
  }



  .iphone__content {
    transform: scale(1) translateX(0);
    transition: all 300ms ease-in-out;
  }

  .iphone__screen {
    background-color: #333;
  }



  .nav__icon {
    background: rgba(0,0,0,0.0);
 
    &:before {
      margin-top:0;
      transform:rotate(90deg);
    }

    &:after {
      margin-top:0;
      transform:rotate(180deg);
    }
  }

}


#section--menstruation,
#section--menstruation2,
#section--rendezvous1,
#section--lieu,
#section--mesage{
  display: none;
}

